<div class="section-card" th:if="${isAdmin}">
    <h2>Darbinieku ierakstu vēsture</h2>

    <table>
        <thead>
        <tr>
            <th>Datums</th>
            <th>Lietotājs</th>
            <th>Darbība</th>
            <th>Darbinieks</th>
            <th>Maiņa</th>
            <th>Ieraksta datums</th>
            <th>Bija</th>
            <th>Tagad</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${recordHistory}">
            <td th:text="${item.createdAt}"></td>
            <td th:text="${item.username}"></td>
            <td th:text="${item.action}"></td>
            <td th:text="${item.employeeName}"></td>
            <td th:text="${item.shiftName}"></td>
            <td th:text="${item.recordDate}"></td>
            <td th:text="${item.oldValue}"></td>
            <td th:text="${item.newValue}"></td>
        </tr>
        </tbody>
    </table>
</div>